<!-- <div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-lg-7 col-sm-12" style="vertical-align: inherit;    margin-bottom: 15px;
        ">
            <h2 class="socioGothic"><b>SMALL CHOCOLATES IN BITES</b></h2>
        </div>
        <div class="col-lg-5 col-sm-12">
            <div class="row LibreBaskerville">
                <div class="col">
                    <div class="row">
                        <div class="col-9">all the products</div>
                        <div class="col-3">+</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-9">Come on Clicks</div>
                        <div class="col-3">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngFor="let one_question of [1,2,3,4]; let question_index = index;">
            <div class="col one_small_choco_div">
                <div class="row">
                    <div class="col-10">75 PCS</div>
                    <div class="col-2 round_div">
                        <div  style="width:35px;border-radius: 50px;height: 35px;">
                            <span class="material-icons">lock</span></div>
                    </div>
                </div>
                <div>
                    <img src="assets/images/Bite_MintyMoment.jpg">
                </div>
            </div>
            <div class="one_small_choco_div_desc linespace_small" >
                <div class="Century_Gothic fW800">Minty Moment</div>
                <div class="Century_Gothic fW800" >Box med 75 stk. bites</div>
                <div class="fW800 fz12">399 kr</div>
            </div>
        </div>
    </div>
</div> -->
<div id="shopify-section-1645608932dd1b96e3" class="shopify-section shopify-section--bordered">
    <section class="Section Section--spacingNormal" data-section-id="1645608932dd1b96e3"
        data-section-type="featured-collections" data-settings="{
    &quot;layout&quot;: &quot;grid&quot;
  }">
        <div class="Container">
            <div class="Section__SpaceBetween">
                <div>
                    <h2 class="SectionHeader__Heading Heading u-h1 Text--subdued">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;    font-size: 45px;
                            font-family: 'Teko';
                        ">SMALL CHOCOLATES IN BITES</font>
                        </font>
                    </h2>
                </div>
                <div>
                    <a href="/collections/all" class="LinkWithPlus hidden-pocket"><span class="Link Link--underline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">All products</font>
                            </font>
                        </span><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                            <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg></a><a href="/collections/sma-chokolader-i-bites" class="LinkWithPlus hidden-pocket">
                        <span class="Link Link--underline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Everyone bites
                                </font>
                            </font>
                        </span><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                            <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="TabPanel" id="block-f247c1c9-bdf0-4b2d-9f26-eb50a5620927" aria-hidden="false" role="tabpanel">
            <div class="ProductListWrapper">
                <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="2"
                    data-desktop-count="4"
                    style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a href="/products/mix-small-ones-solid-pieces-75-pcs"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px;padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <!-- <img class="ProductItem__Image ProductItem__Image--alternate Image--fadeIn lazyautosizes Image--lazyLoaded"
                                            data-widths="[200,300,400,600,800,900,1000]" data-sizes="auto"
                                            alt="Solid Mix - Box with 75 pcs.  Bites |  Mix of Bites of solid chocolate"
                                            data-media-id="43260988850500"
                                            data-srcset="//simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_200x.png?v=1683204147 200w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_300x.png?v=1683204147 300w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_400x.png?v=1683204147 400w, assets/cdn/shop/files/Bite_MixedSolid_600x.png?v=1683204147 600w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_800x.png?v=1683204147 800w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_900x.png?v=1683204147 900w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_1000x.png?v=1683204147 1000w"
                                            sizes="268px"
                                            srcset="//simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_200x.png?v=1683204147 200w,
                                             //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_300x.png?v=1683204147 300w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_400x.png?v=1683204147 400w, assets/cdn/shop/files/Bite_MixedSolid_600x.png?v=1683204147 600w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_800x.png?v=1683204147 800w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_900x.png?v=1683204147 900w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_1000x.png?v=1683204147 1000w"><img
                                            class="ProductItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded"
                                            data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto"
                                            alt="Solid Mix - Box with 75 pcs.  Bites |  Mix of Bites of solid chocolate"
                                            data-media-id="43260988817732"
                                            data-srcset="//simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_200x.png?v=1683204147 200w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_400x.png?v=1683204147 400w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_600x.png?v=1683204147 600w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_700x.png?v=1683204147 700w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_800x.png?v=1683204147 800w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_900x.png?v=1683204147 900w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_1000x.png?v=1683204147 1000w"
                                            sizes="268px"
                                            srcset="//simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_200x.png?v=1683204147 200w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_400x.png?v=1683204147 400w, //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_600x.png?v=1683204147 600w,
                                             //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_700x.png?v=1683204147 700w,
                                              //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_800x.png?v=1683204147 800w,
                                               //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_900x.png?v=1683204147 900w,
                                                //simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_1000x.png?v=1683204147 1000w"> -->
                                                <img src="assets/images/products/2.png">
                                        <span class="Image__Loader"></span>
                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bite_MixedSolid_600x.png?v=1683204147"
                                                alt="Solid Mix - Box med 75 stk. Bites | Mix af Bites af solid chokolade">
                                            <img class="ProductItem__Image"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_MixedSolid_wBite_600x.png?v=1683204147"
                                                alt="Solid Mix - Box med 75 stk. Bites | Mix af Bites af solid chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">75 pcs
                                            </font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy">
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <div href="/products/mix-small-ones-solid-pieces-75-pcs">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="fz20 TekoFont uppCase">
                                                    Solid Mix
                                                </font>
                                            </font><span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">Box with 75 pcs. </font>
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">Bites</font>
                                                </font>
                                            </span>
                                        </div>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont uppCase">DKK 399
                                                </font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/minty-moment-box-med-75-stk-bites-mint-matcha-the-crisp-og-premium-mork-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        
                                        
                                        
                                        <img src="assets/images/products/1.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_MintyMoment_600x.png?v=1683203654"
                                                alt="Minty Moment - Box med 75 stk. bites | Mint, matcha the, crisp og premium mørk chokolade">
                                            <img class="ProductItem__Image"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_MintyMoment_wBite_600x.png?v=1683203654"
                                                alt="Minty Moment - Box med 75 stk. bites | Mint, matcha the, crisp og premium mørk chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">75 pcs
                                            </font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy">
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/minty-moment-box-med-75-stk-bites-mint-matcha-the-crisp-og-premium-mork-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Minty Moment
                                                </font>
                                            </font><span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">Box with 75 pcs. </font>
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">bites</font>
                                                </font>
                                            </span>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont uppCase">DKK 399
                                                </font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/new-grainy-mix-box-med-75-stk-bites-mix-af-bites-med-chokoladeovertraek"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        
                                        
                                        
                                        
                                        <img src="assets/images/products/3.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_MixedBites_600x.png?v=1683203914"
                                                alt="Grainy Mix - Box med 75 stk. bites | Mix af Bites med chokoladeovertræk">
                                            <img class="ProductItem__Image"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_MixedBites_wBite_600x.png?v=1683203914"
                                                alt="Grainy Mix - Box med 75 stk. bites | Mix af Bites med chokoladeovertræk">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">75 pcs
                                            </font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy">
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/new-grainy-mix-box-med-75-stk-bites-mix-af-bites-med-chokoladeovertraek">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Grainy Mix
                                                </font>
                                            </font><span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">Box with 75 pcs. </font>
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">bites</font>
                                                </font>
                                            </span>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont uppCase">DKK 399
                                                </font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a href="/products/persian-perry-small-one-box-75-pcs"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/products/4.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_PersianPerry_600x.png?v=1683203946"
                                                alt="Persian Perry - Box med 75 stk. bites | Persisk lakrids og premium hvid chokolade">
                                            <img class="ProductItem__Image"
                                                src="//simplychocolate.dk/cdn/shop/files/Bite_PersianPerry_Open_600x.png?v=1683203946"
                                                alt="Persian Perry - Box med 75 stk. bites | Persisk lakrids og premium hvid chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">75 pcs
                                            </font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy">
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a href="/products/persian-perry-small-one-box-75-pcs">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Persian Perry
                                                </font>
                                            </font><span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">Box with 75 pcs. </font>
                                                    <font style="vertical-align: inherit;"
                                                        class="TekoFont fz20 uppCase">bites</font>
                                                </font>
                                            </span>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont uppCase">DKK 399
                                                </font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>