<!-- <h4 class="s Heading u-h1">
    <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
            Do you want gluten-free?
        </font>
    </font>
    </h4>
    
    
    <div class="Rte">
    <div class="">
        <p></p>
    </div>
    </div>
    
    <div class="s">
    <div class="ButtonGroup ButtonGroup--spacingSmall ">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Shop gluten-free chocolate</font>
        </font>
    </div>
    </div> -->
<!-- <ngx-slick-carousel class="carousel_a" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let oneAsssessment of [1, 2];let i =index;" class="slide">
      111ss
    </div>
    </ngx-slick-carousel> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div (click)="onevnt()" class="col-lg-1 col-sm-12 socioGothic hand">
                    <h4><b>BARS</b></h4>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="row">
                <div class="col">
                    <h4><b>BASKET</b></h4>
                </div>
                <div class=" col-4 basketItem">
                    <h4><b>12</b></h4>
                </div>
    
            </div>
        </div>
    </div>
    <div class="middle alCenter ">
        <div class="socioGothic fW800 font36 p10">MORE THAN JUST CHOCOLATE
        </div>
        <div class="p10">Award-winning chocolate handmade in Copenhagen with love and only natural ingredients.
        </div>
        <div class="shopChoco p10">
            SHOP CHOCOLATE FOR SUMMER PARTIES
        </div>
    </div>
    </div> -->
<div id="shopify-section-1652769877cb8f7327" class="shopify-section">
    <section id="section-1652769877cb8f7327" data-section-id="1652769877cb8f7327">
        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-phone" style="position: relative;">
            <div class="bg-ismage 
                    LargeBackground LargeBackground--large LargeBackground--bottom 
                    LargeBackground--image
                    bg-imagse--has-content" style="background: url(assets/images/banners/5.jpg);">
                <div class="bg-image__wrapper Image--lazyLoad Image--fadeIn Image--zoomOut  " data-optimumx="1.2"
                    data-bgset="assets/cdn/shop/files/Simply_hero_summertable_600x@2x.jpg?v=1683723209 [--small] |
                        assets/cdn/shop/files/Simply_hero_summertable_800x@2x.jpg?v=1683723209 [--medium] |
                        assets/cdn/shop/files/Simply_hero_summertable_1200x@2x.jpg?v=1683723209 [--large] |
                        assets/cdn/shop/files/Simply_hero_summertable_1400x@2x.jpg?v=1683723209 [--desktop] |
                        assets/cdn/shop/files/Simply_hero_summertable_1600x@2x.jpg?v=1683723209 [--widescreen] |
                        assets/cdn/shop/files/Simply_hero_summertable_800x@2x.jpg?v=1683723209" data-sizes="auto"
                    style="background-position: center;"></div>
                <div class="row w100 v100" style="width: 100%;">
                    <div class="hand Footer__Block Footer__Block--links col" style="
                        ">
                        <!-- <div class="Footer__Tistle Heading TekoFont"><b class="TekoFont">SHOP</b></div> -->
                        <ul class="Linklist row">
                            <li id="txtPopUp"  class="Linklist__Item col-1">
                                <div 
                                    class="Link Link--primary TekoFont font27" 
                                    >SHOP</div>
                            </li>
                            <li (mouseover)="onevnt()" class="Linklist__Item col-1">
                                <div href="collections/chokoladebarer-med-premium-chokolade.html"
                                    class="Link Link--primary TekoFont font27">BITES</div>
                            </li>
                            <li class="Linklist__Item col">
                                <div href="collections/chokoladebarer-med-premium-chokolade.html"
                                    class="Link Link--primary TekoFont font27">KITS</div>
                            </li>
                            <li class="Linklist__Item col">
                                
                            </li><li class="Linklist__Item col">
                                
                            </li><li class="Linklist__Item col">
                                
                            </li>
                            <li class="Linklist__Item col">
                                
                            </li>
                            <!-- <li class="Linklist__Item col">
                                
                            </li> -->
                            <li class="Linklist__Item col" >
                             <div class="row alRight" data-bs-toggle="offcanvas" aria-controls="sidebar-cart"
                             data-bs-target="#sidebar-cart" 
                              (click)="open(content)">
                                 <div   class=" col TekoFont font27 hand">BASKET</div>
                                 <div class="col-1 Header__CartCount TekoFont fz20" style="margin-top: 5px;
                                 /* padding: 3px; */
                                 margin-right: 15px;">
                                     7
                                 </div>
                             </div>
                            </li>
                            <!-- <li class="Linklist__Item">
                            <a href="collections/proteinbarer-med-chokolade.html" class="Link Link--primary">Protein</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="collections/chokoladeaesker-gaveaesker.html"
                                class="Link Link--primary">Gaveæsker</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="collections/limited-editions-chokolade.html" class="Link Link--primary">Limited
                                Editions</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="collections/pakker-med-chokolade-i-bar-kits.html" class="Link Link--primary">Bar
                                kits</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="pages/firmagaver.html" class="Link Link--primary">Firmagaver</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="pages/pride.html" class="Link Link--primary">PRIDEs</a>
                        </li> -->
                        </ul>
                    </div>
                    <!-- <div class="col-6  "></div> -->
                    <!-- <div class="col-3" >
                        <div class="row alRight" data-bs-toggle="offcanvas" aria-controls="sidebar-cart"
                        data-bs-target="#sidebar-cart" 
                         (click)="open(content)">
                            <div   class=" col TekoFont font27 hand">BASKET</div>
                            <div class="col-1 Header__CartCount" style="margin-top: 5px;
                            /* padding: 3px; */
                            margin-right: 15px;">
                                0
                            </div>
                        </div>
                    </div> -->
                </div>
                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(aasets/cdn/shop/files/Simply_hero_summertable_800x4644.jpg?v=1683723209)">
                    </div>
                </noscript>
                <div class="container ">
                    <div class="SectionHeader SectionHeader--center" style="    height: 336px !important;
                    ">
                        <h2 class="SectionHeader__Heading Heading u-h1">
                            <b style="    font-size: 45px;
                                    font-family: 'Teko';
                                    ">MORE THAN JUST CHOCOLATE</b>
                        </h2>
                        <div class="Rte">
                            <div class="">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Award-winning chocolate handmade in
                                            Copenhagen with love and only natural ingredients.</font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a href="pages/sommer-chokolade.html"
                                    class="ButtonGroup__Item Button">SHOP CHOKOLADE TIL SOMMERENS FESTER</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-tablet-and-up" style="position: relative;">
            <div class="bg-image 
                    LargeBackground LargeBackground--large   LargeBackground--bottom
                    LargeBackground--image
                    bg-image--has-content"
                style="background: url(cdn/shop/files/INSTA_STORY_2.0_14_1x1.png6503.jpg?v=1683722464);">
                <div class="bg-image__wrapper Image--lazyLoad Image--fadeIn Image--zoomOut  " data-optimumx="1.2"
                    data-bgset="assets/cdn/shop/files/INSTA_STORY_2.0_14_600x@2x.png?v=1683722464 [--small] |
                        assets/cdn/shop/files/INSTA_STORY_2.0_14_800x@2x.png?v=1683722464 [--medium] |
                        assets/cdn/shop/files/INSTA_STORY_2.0_14_1200x@2x.png?v=1683722464 [--large] |
                        assets/cdn/shop/files/INSTA_STORY_2.0_14_1400x@2x.png?v=1683722464 [--desktop] |
                        assets/cdn/shop/files/INSTA_STORY_2.0_14_1600x@2x.png?v=1683722464 [--widescreen] |
                        assets/cdn/shop/files/INSTA_STORY_2.0_14_800x@2x.png?v=1683722464" data-sizes="auto"
                    style="background-position: center;"></div>
                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(cdn/shop/files/INSTA_STORY_2.0_14_800x6503.png?v=1683722464)">
                    </div>
                </noscript>
                <div class="container ">
                    <div class="SectionHeader SectionHeader--center">
                        <h2 class="SectionHeader__Heading Heading u-h1">
                            MORE THAN JUST CHOCOLATE
                        </h2>
                        <div class="Rte">
                            <div class="">
                                <p>Prisvindende chokolade håndlavet i København med kærlighed og kun naturlige
                                    ingredienser.
                                </p>
                            </div>
                        </div>
                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a href="pages/sommer-chokolade.html"
                                    class="ButtonGroup__Item Button">SHOP CHOKOLADE TIL SOMMERENS FESTER</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span id="section-1652769877cb8f7327-end" class="Anchor"></span>
    </section>
    <style>
        #section-1652769877cb8f7327 .Heading {
            color: #ffffff;
        }

        #section-1652769877cb8f7327 .Button {
            color: #363636;
            border-color: #ffffff;
        }

        #section-1652769877cb8f7327 .Button::before {
            background-color: #ffffff;
        }

        @media (-moz-touch-enabled: 0),
        (hover: hover) {
            #section-1652769877cb8f7327 .Button:hover {
                color: #ffffff;
            }
        }
    </style>
</div>
<!-- <div  id="dialog" style="top: 258.988px;
left: 131.5px;width:80% !important;display: none;z-index: 5000;">
    <app-top-popup></app-top-popup>
</div> -->

<ng-template #content let-offcanvas class="offcanvas-end offcanvas offcanvas-end">

    <div id="x" class="offcanvas offcanvas-end Drawer Drawer--fromRight" aria-hidden="false"
        data-section-id="cart" data-section-type="cart" data-section-settings="{
                &quot;type&quot;: &quot;drawer&quot;,
                &quot;itemCount&quot;: 16,
                &quot;drawer&quot;: true,
                &quot;hasShippingEstimator&quot;: false
              }" style="" tabindex="-1">
        <div class="Drawer__Header Drawer__Header--bordered Drawer__Container">
            <span class="Drawer__Title Heading u-h4" style=" 
                    font-style: normal;
                    color: #1c1b1b;
                ">
                <b style="
                        font-style: normal;
                        color: #1c1b1b" class="TekoFont">YOUR BASKET</b>
            </span>

            <button (click)="offcanvas.dismiss('Cross click')" class="Drawer__Close Icon-Wrapper--clickable"
                data-action="close-drawer" data-drawer-id="sidebar-cart" aria-label="Close basket"><svg
                    class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
                    <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
                </svg></button>
        </div>

        <div class="Cart Drawer__Content" action="/cart" method="POST" novalidate="">
            <div class="Drawer__Main">
                <div class="Cart__ShippingNotice Text--subdued">
                    <div class="Drawer__Container">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;" class="fz20">You get free shipping!</font>
                            </font>
                        </p>
                    </div>
                </div>
                <div class="Drawer__Container Drawer__Container--cart">
                    <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
                    <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

                    <div class="Cart__ItemList">

                        <div class="CartItemWrapper">
                            <div class="CartItem ">
                                <div class="CartItem__ImageWrapper AspectRatio">
                                    <div class="AspectRatio" style="--aspect-ratio: 1.0">
                                        <img class="CartItem__Image"
                                            src="//simplychocolate.dk/cdn/shop/files/Bite_Bryllup_CrispyCarrie_wBite_240x.png?v=1683203584"
                                            alt="">
                                    </div>
                                </div>

                                <div class="CartItem__Info">
                                    <h2 class="CartItem__Title Heading TekoFont fz20">
                                        Love at first bite
                                        <span>Box med 75 stk. Crispy Carrie Bites </span>
                                    </h2>

                                    <div class="CartItem__Meta Heading">
                                        <div class="CartItem__PriceList"><span
                                                class="CartItem__Price Price TekoFont fz20">429
                                                kr</span></div>
                                    </div>
                                    <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
                                        <div class="CartItem__QuantitySelector">
                                            <div class="QuantitySelector"><a
                                                    class="QuantitySelector__Button Link Link--primary"
                                                    title="Set number to 1" data-quantity="1"
                                                    data-line-id="46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                                    data-action="update-item-quantity"><svg class="Icon Icon--minus"
                                                        role="presentation" viewBox="0 0 16 2">
                                                        <path d="M1,1 L15,1" stroke="currentColor" fill="none"
                                                            fill-rule="evenodd" stroke-linecap="square"></path>
                                                    </svg></a>

                                                <input type="text" name="updates[]"
                                                    id="updates_46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                                    class="QuantitySelector__CurrentQuantity" pattern="[0-9]*"
                                                    data-line-id="46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                                    value="2"><a class="QuantitySelector__Button Link Link--primary"
                                                    title="Set number to 3" data-quantity="3"
                                                    data-line-id="46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                                    data-action="update-item-quantity"><svg class="Icon Icon--plus"
                                                        role="presentation" viewBox="0 0 16 16">
                                                        <g stroke="currentColor" fill="none" fill-rule="evenodd"
                                                            stroke-linecap="square">
                                                            <path d="M8,1 L8,15"></path>
                                                            <path d="M1,8 L15,8"></path>
                                                        </g>
                                                    </svg></a>
                                            </div>
                                        </div>

                                        <a href="/cart/change?quantity=0&amp;id=46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                            class="CartItem__Remove Link Link--underline Link--underlineShort"
                                            data-quantity="0"
                                            data-line-id="46550051258692:57819f2318b0c9e25ceb51a458b20e11"
                                            data-action="remove-item">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16">Remove
                                                </font>
                                            </font>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="CartItemWrapper">
                            <div class="CartItem ">
                                <div class="CartItem__ImageWrapper AspectRatio">
                                    <div class="AspectRatio" style="--aspect-ratio: 1.0">
                                        <img class="CartItem__Image"
                                            src="//simplychocolate.dk/cdn/shop/files/Bundle_TastingPack_wBite_240x.png?v=1683639614"
                                            alt="">
                                    </div>
                                </div>

                                <div class="CartItem__Info">
                                    <h2 class="CartItem__Title Heading TekoFont fz20">

                                        For all your senses 14 pack
                                        <span>smagspakke </span>
                                    </h2>

                                    <div class="CartItem__Meta Heading">
                                        <div class="CartItem__PriceList"><span
                                                class="TekoFont fz20 CartItem__Price Price TekoFont fz20">199
                                                kr</span></div>
                                    </div>
                                    <div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
                                        <div class="CartItem__QuantitySelector">
                                            <div class="QuantitySelector"><a
                                                    class="QuantitySelector__Button Link Link--primary"
                                                    title="Set number to 13" data-quantity="13"
                                                    data-line-id="46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                                    data-action="update-item-quantity"><svg class="Icon Icon--minus"
                                                        role="presentation" viewBox="0 0 16 2">
                                                        <path d="M1,1 L15,1" stroke="currentColor" fill="none"
                                                            fill-rule="evenodd" stroke-linecap="square"></path>
                                                    </svg></a>

                                                <input type="text" name="updates[]"
                                                    id="updates_46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                                    class="QuantitySelector__CurrentQuantity" pattern="[0-9]*"
                                                    data-line-id="46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                                    value="14"><a class="QuantitySelector__Button Link Link--primary"
                                                    title="Set number to 15" data-quantity="15"
                                                    data-line-id="46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                                    data-action="update-item-quantity"><svg class="Icon Icon--plus"
                                                        role="presentation" viewBox="0 0 16 16">
                                                        <g stroke="currentColor" fill="none" fill-rule="evenodd"
                                                            stroke-linecap="square">
                                                            <path d="M8,1 L8,15"></path>
                                                            <path d="M1,8 L15,8"></path>
                                                        </g>
                                                    </svg></a>
                                            </div>
                                        </div>

                                        <a href="/cart/change?quantity=0&amp;id=46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                            class="CartItem__Remove Link Link--underline Link--underlineShort"
                                            data-quantity="0"
                                            data-line-id="46602488185156:f7747d2e7a3b6ee069d277e107e35aad"
                                            data-action="remove-item">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16">Remove
                                                </font>
                                            </font>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="Drawer__Footer Drawer__Footer--upsale" data-drawer-animated-bottom="">
                <div class="Drawer__Upsale--heading">
                    <h5 class="SectionHeader__Heading Heading u-h4" style="    font-family: 'Century Gothic', sans-serif;
                            font-style: normal;
                            color: #1c1b1b">
                        <b class="Heading TekoFont fz20" style="
                               font-style: normal;
                               color: #1c1b1b">HAVE YOU TASTED OUR BEST SELLERS?</b>
                    </h5>
                </div>
                <div class="Drawer__Upsale">
                    <div class="Drawer__Recommendations">
                        <div class="ProductRecommendations">













                            <div class="CartItemWrapper">
                                <div class="CartItem">

                                    <span class="CartItem__ImageWrapper">

                                        <div class="AspectRatio AspectRatio--withFallback"
                                            style="max-width: 125px; --aspect-ratio: 1.0"><img
                                                class="CartItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded"
                                                data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto"
                                                alt="Sharing Bar - Persian Perry |  Persian licorice and premium white chocolate"
                                                data-media-id="43261128180036"
                                                data-srcset="//simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_200x.png?v=1683205089 200w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_400x.png?v=1683205089 400w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_600x.png?v=1683205089 600w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_700x.png?v=1683205089 700w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_800x.png?v=1683205089 800w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_900x.png?v=1683205089 900w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_1000x.png?v=1683205089 1000w"
                                                sizes="120px"
                                                srcset="//simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_200x.png?v=1683205089 200w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_400x.png?v=1683205089 400w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_600x.png?v=1683205089 600w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_700x.png?v=1683205089 700w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_800x.png?v=1683205089 800w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_900x.png?v=1683205089 900w, //simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_1000x.png?v=1683205089 1000w">
                                            <span class="Image__Loader"></span>

                                            <noscript>
                                                <img class="CartItem__Image CartItem__Image--alternate"
                                                    src="//simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_600x.png?v=1683205089"
                                                    alt="Sharing Bar - Persian Perry | Persisk lakrids og premium hvid chokolade">
                                                <img class="CartItem__Image"
                                                    src="//simplychocolate.dk/cdn/shop/files/SharingBar_PersianPerry_Open_600x.png?v=1683205089"
                                                    alt="Sharing Bar - Persian Perry | Persisk lakrids og premium hvid chokolade">
                                            </noscript>
                                        </div>
                                    </span>
                                    <div class="CartItem__Info">
                                        <h2 class="CartItem__Title Carttem__MainTitle Heading TekoFont fz20 ">

                                            Sharing Bar
                                            <span class="Heading TekoFont fz20">Persian Perry </span>
                                        </h2>

                                        <div class="CartItem__Meta Heading TekoFont fz20">
                                            <div class="Carttem__PriceList "><span class="Carttem__Price Price">29
                                                    kr</span></div>
                                        </div>

                                        <div class="QuickBuy" data-action="close-drawer" data-drawer-id="sidebar-cart">

                                            <div class="Button QuickBuy__Button Button--primary">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        add
                                                    </font>
                                                </font>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="CartItemWrapper">
                                <div class="CartItem">

                                    <span class="CartItem__ImageWrapper">

                                        <div class="AspectRatio AspectRatio--withFallback"
                                            style="max-width: 125px; --aspect-ratio: 1.0"><img
                                                class="CartItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded"
                                                data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto"
                                                alt="Rich Arnold |  Protein bar with caramel, peanuts and premium dark chocolate"
                                                data-media-id="43261076504900"
                                                data-srcset="//simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_200x.png?v=1683204757 200w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_400x.png?v=1683204757 400w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_600x.png?v=1683204757 600w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_700x.png?v=1683204757 700w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_800x.png?v=1683204757 800w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_900x.png?v=1683204757 900w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_1000x.png?v=1683204757 1000w"
                                                sizes="120px"
                                                srcset="//simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_200x.png?v=1683204757 200w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_400x.png?v=1683204757 400w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_600x.png?v=1683204757 600w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_700x.png?v=1683204757 700w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_800x.png?v=1683204757 800w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_900x.png?v=1683204757 900w, //simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_1000x.png?v=1683204757 1000w">
                                            <span class="Image__Loader"></span>

                                            <noscript>
                                                <img class="CartItem__Image CartItem__Image--alternate"
                                                    src="//simplychocolate.dk/cdn/shop/files/Bar_RichArnold_70626fda-b3bd-4bb7-b5e0-6fae8289f7c1_600x.png?v=1683204757"
                                                    alt="Rich Arnold | Proteinbar med karamel, peanuts og premium mørk chokolade">
                                                <img class="CartItem__Image"
                                                    src="//simplychocolate.dk/cdn/shop/files/Bar_RichArnold_wBite_b9c28dcd-34c1-4121-8aec-76209adf01c0_600x.png?v=1683204757"
                                                    alt="Rich Arnold | Proteinbar med karamel, peanuts og premium mørk chokolade">
                                            </noscript>
                                        </div>
                                    </span>
                                    <div class="CartItem__Info">
                                        <h2 class="CartItem__Title Carttem__MainTitle Heading TekoFont fz20">

                                            Rich Arnold
                                        </h2>

                                        <div class="CartItem__Meta Heading TekoFont fz20">
                                            <div class="Carttem__PriceList "><span class="Carttem__Price Price">20
                                                    kr</span></div>
                                        </div>

                                        <div class="QuickBuy" data-action="close-drawer" data-drawer-id="sidebar-cart">

                                            <div class="Button QuickBuy__Button Button--primary">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        add
                                                    </font>
                                                </font>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="CartItemWrapper">
                                <div class="CartItem">

                                    <span class="CartItem__ImageWrapper">

                                        <div class="AspectRatio AspectRatio--withFallback"
                                            style="max-width: 125px; --aspect-ratio: 1.0"><img
                                                class="CartItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded"
                                                data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto"
                                                alt="Sharing Bar - Crispy Carrie |  Crunchy caramel, sea salt and premium milk chocolate"
                                                data-media-id="43261120938308"
                                                data-srcset="//simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_200x.png?v=1683205044 200w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_400x.png?v=1683205044 400w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_600x.png?v=1683205044 600w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_700x.png?v=1683205044 700w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_800x.png?v=1683205044 800w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_900x.png?v=1683205044 900w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_1000x.png?v=1683205044 1000w"
                                                sizes="120px"
                                                srcset="//simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_200x.png?v=1683205044 200w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_400x.png?v=1683205044 400w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_600x.png?v=1683205044 600w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_700x.png?v=1683205044 700w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_800x.png?v=1683205044 800w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_900x.png?v=1683205044 900w, //simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_1000x.png?v=1683205044 1000w">
                                            <span class="Image__Loader"></span>

                                            <noscript>
                                                <img class="CartItem__Image CartItem__Image--alternate"
                                                    src="//simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_600x.png?v=1683205044"
                                                    alt="Sharing Bar - Crispy Carrie | Knasende karamel, havsalt og premium mælkechokolade">
                                                <img class="CartItem__Image"
                                                    src="//simplychocolate.dk/cdn/shop/files/SharingBar_CrispyCarrie_Open_600x.png?v=1683205044"
                                                    alt="Sharing Bar - Crispy Carrie | Knasende karamel, havsalt og premium mælkechokolade">
                                            </noscript>
                                        </div>
                                    </span>
                                    <div class="CartItem__Info">
                                        <h2 class="CartItem__Title Carttem__MainTitle Heading TekoFont fz20">

                                            Sharing Bar
                                            <span>Crispy Carrie </span>
                                        </h2>

                                        <div class="CartItem__Meta Heading">
                                            <div class="Carttem__PriceList TekoFont fz20"><span
                                                    class="Carttem__Price Price">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">29 kr</font>
                                                    </font>
                                                </span></div>
                                        </div>

                                        <div class="QuickBuy" data-action="close-drawer" data-drawer-id="sidebar-cart">

                                            <div class="Button QuickBuy__Button Button--primary">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        add
                                                    </font>
                                                </font>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="CartItemWrapper">
                                <div class="CartItem">

                                    <span class="CartItem__ImageWrapper">

                                        <div class="AspectRatio AspectRatio--withFallback"
                                            style="max-width: 125px; --aspect-ratio: 1.0"><img
                                                class="CartItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded"
                                                data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto"
                                                alt="You me Coffee now - Glass with 10 bites |  Coffee and chocolate - a match made in heaven"
                                                data-media-id="44140235456836"
                                                data-srcset="//simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_200x.png?v=1688453528 200w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_400x.png?v=1688453528 400w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_600x.png?v=1688453528 600w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_700x.png?v=1688453528 700w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_800x.png?v=1688453528 800w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_900x.png?v=1688453528 900w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_1000x.png?v=1688453528 1000w"
                                                sizes="120px"
                                                srcset="//simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_200x.png?v=1688453528 200w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_400x.png?v=1688453528 400w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_600x.png?v=1688453528 600w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_700x.png?v=1688453528 700w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_800x.png?v=1688453528 800w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_900x.png?v=1688453528 900w, //simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_1000x.png?v=1688453528 1000w">
                                            <span class="Image__Loader"></span>

                                            <noscript>
                                                <img class="CartItem__Image CartItem__Image--alternate"
                                                    src="//simplychocolate.dk/cdn/shop/files/Bite_CrispyCarrie_wBite_ae4d146b-2bb5-44ce-8727-334279165eb3_600x.png?v=1688453576"
                                                    alt="You me Coffee now - Glas med 10 bites | Kaffe og chokolade - a match made in heaven">
                                                <img class="CartItem__Image"
                                                    src="//simplychocolate.dk/cdn/shop/files/BarGlas_S_YouMeCoffeeNow_600x.png?v=1688453528"
                                                    alt="You me Coffee now - Glas med 10 bites | Kaffe og chokolade - a match made in heaven">
                                            </noscript>
                                        </div>
                                    </span>
                                    <div class="CartItem__Info">
                                        <h2 class="TekoFont fz20 CartItem__Title Carttem__MainTitle Heading TekoFnt">
                                            You me Coffee now
                                            <span>a match made in heaven</span>
                                        </h2>

                                        <div class="CartItem__Meta Heading TekoFont fz20">
                                            <div class="Carttem__PriceList "><span class="Carttem__Price Price">115
                                                    kr</span></div>
                                        </div>

                                        <div class="QuickBuy" data-action="close-drawer" data-drawer-id="sidebar-cart">

                                            <div class="Button QuickBuy__Button Button--primary">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        add
                                                    </font>
                                                </font>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Drawer__Footer Cart__Drawer__Footer" data-drawer-animated-bottom=""><span
                    class="Cart__Total Cart__Total--drawer Heading u-h1 Heading__Uppercase">
                    <span style="font-family: 'Teko';
                    font-size: 27px;">TOTAL
                    </span>&nbsp;&nbsp;<span style="font-family: 'Teko';
                    font-size: 27px;" data-money-convertible="">3.644 kr
                    </span>
                </span>

                <div class="Cart__Checkout Cart__Drawer Button Button--primary Button--full">
                    <div><b style="font-size: 28px;
                        font-family: 'Teko' !important;">TO SHOPPING CART</b></div>
                </div>

            </div>
            <div class="Cart__OffscreenNoteContainer" aria-hidden="true"><span class="Cart__NoteButton">Herunder
                    kan du
                    skrive en besked til en du holder af, som vi printer på et postkort og lægger med i pakken.
                    Det er
                    gratis!</span>
                <div class="Form__Item">
                    <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="3"
                        placeholder="Din besked her... maks 150 tegn og ingen emojis :)" data-scrollable=""></textarea>
                </div>

                <button type="button" class="Button Button--primary Button--full"
                    data-action="toggle-cart-note">Gem</button>
            </div>
        </div>
    </div>

    <div class="text-end">
        <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
    </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" data-bs-toggle="offcanvas" aria-controls="sidebar-cart"
    data-bs-target="#sidebar-cart" aria-controls="sidebar-cart" (click)="open(content)">Launch demo offcanvas</button> -->
