<!-- <div class="s" style="padding: 20px;">
<div style="     background-size: cover;
height: 100%;
width: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;   padding: 20px;
    height: 550px; background-image: url('assets/images/natural_proteins.webp')">
        <div class="toph col" style="    position: relative;
        top: 371px;
        text-align: center;
;">
            <div class="socioGothic fW800 font36 p10">100% NATURAL PROTEIN BARS
            </div>
            <div class="shopChoco p10" style="color: #FFFF">
                <b>SHOW PROTIEN</b>
            </div>
        </div>
</div> -->
<div id="shopify-section-16532929876142feb0" class="shopify-section">
    <section id="section-16532929876142feb0" data-section-id="16532929876142feb0">










        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-phone" style="    height: 491px;
        position: relative;">











            <div class="bg-image 
    LargeBackground  LargeBackground--bottom 
    LargeBackground--image
      bg-image--has-content"
                style="background: url(//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1x1.jpg?v=1656055832);">

                <div class="bg-image__wrapper Image--fadeIn Image--zoomOut Image--lazyLoaded" data-optimumx="1.2"
                    data-bgset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_600x@2x.jpg?v=1656055832 [--small] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832 [--medium] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1200x@2x.jpg?v=1656055832 [--large] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1400x@2x.jpg?v=1656055832 [--desktop] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1600x@2x.jpg?v=1656055832 [--widescreen] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832"
                    style="background-position: center center; background-image: url(&quot;https://simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1400x@2x.jpg?v=1656055832&quot;);">
                    <picture style="display: none;">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_600x@2x.jpg?v=1656055832"
                            media="(max-width: 639px)" sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_600x@2x.jpg?v=1656055832">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832"
                            media="(min-width: 640px) and (max-width: 1007px)" sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1200x@2x.jpg?v=1656055832"
                            media="(min-width: 1008px) and (max-width: 1239px)" sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1200x@2x.jpg?v=1656055832">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1400x@2x.jpg?v=1656055832"
                            media="(min-width: 1240px)" sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1400x@2x.jpg?v=1656055832">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1600x@2x.jpg?v=1656055832"
                            media="(min-width: 1500px)" sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1600x@2x.jpg?v=1656055832">
                        <source
                            data-srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832"
                            sizes="1333px"
                            srcset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832"><img
                            alt="" class="lazyautosizes Image--lazyLoaded" data-sizes="auto" data-optimumx="1.2"
                            data-parent-fit="cover" sizes="1333px">
                    </picture>
                </div>

                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x.jpg?v=1656055832)">
                    </div>
                </noscript>
                <div class="container ">
                    <div class="SectionHeader SectionHeader--center">



                        <h2 class="SectionHeader__Heading Heading u-h1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;    font-size: 45px;
                                font-family: 'Teko';">
                                    100% NATURAL PROTEIN BARS
                                </font>
                            </font>
                        </h2>


                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a
                                    href="/collections/proteinbarer-med-chokolade" class="ButtonGroup__Item Button">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">SHOP PROTEIN</font>
                                    </font>
                                </a></div>
                        </div>
                    </div>
                </div>

            </div>









        </div>
        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-tablet-and-up" style="position: relative;">











            <div class="bg-image 
    LargeBackground   LargeBackground--bottom
    LargeBackground--image
      bg-image--has-content"
                style="background: url(//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1x1.jpg?v=1656055832);">

                <div class="bg-image__wrapper Image--lazyLoad Image--fadeIn Image--zoomOut  " data-optimumx="1.2"
                    data-bgset="//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_600x@2x.jpg?v=1656055832 [--small] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832 [--medium] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1200x@2x.jpg?v=1656055832 [--large] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1400x@2x.jpg?v=1656055832 [--desktop] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_1600x@2x.jpg?v=1656055832 [--widescreen] |
           //simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x@2x.jpg?v=1656055832" data-sizes="auto"
                    style="background-position: center;"></div>

                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(//simplychocolate.dk/cdn/shop/files/SpeedyTom6_web_800x.jpg?v=1656055832)">
                    </div>
                </noscript>
                <div class="container ">
                    <div class="SectionHeader SectionHeader--center">



                        <h2 class="SectionHeader__Heading Heading u-h1">
                            100% NATURLIGE PROTEINBARER
                        </h2>


                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a
                                    href="/collections/proteinbarer-med-chokolade" class="ButtonGroup__Item Button">SHOP
                                    PROTEIN</a></div>
                        </div>
                    </div>
                </div>

            </div>









        </div><span id="section-16532929876142feb0-end" class="Anchor"></span>
    </section>

    <style>
        #section-16532929876142feb0 .Heading {
            color: #ffffff;
        }

        #section-16532929876142feb0 .Button {
            color: #000000;
            border-color: #ffffff;
        }

        #section-16532929876142feb0 .Button::before {
            background-color: #ffffff;
        }

        @media (-moz-touch-enabled: 0),
        (hover: hover) {
            #section-16532929876142feb0 .Button:hover {
                color: #ffffff;
            }
        }
    </style>



</div>