<!-- <div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-lg-8 col-sm-12" style="vertical-align: inherit;    margin-bottom: 15px;
        ">
            <h2 class="socioGothic"><b>PACKAGES OF CHOCOLATE BARS IN BAR KITS
                </b></h2>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="row LibreBaskerville">
                <div class="col">
                    <div class="row">
                        <div class="col-9">all the products</div>
                        <div class="col-3">+</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-9">Come on Clicks </div>
                        <div class="col-3">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12" *ngFor="let one_question of [1,2,3,4]; let question_index = index;">
            <div class="col one_small_choco_div">
                <div class="row">
                    <div class="col-10  fz12">12 PACK</div>
                    <div class="col-2 round_div">
                        <div style="width:35px;border-radius: 50px;height: 35px;">
                            <span class="material-icons">lock</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img width="80%" src="assets/images/Bar_GrainySue_Pack_wBite.jpg">
                </div>
            </div>
            <div class="one_small_choco_div_desc linespace_small">
                <div class="fW800 fz12">399 kr</div>
            </div>
        </div>
    </div>
</div> -->
<div id="shopify-section-165752585019fec6fd" class="shopify-section shopify-section--bordered">
    <section class="Section Section--spacingNormal" data-section-id="165752585019fec6fd"
        data-section-type="featured-collections" data-settings="{
    &quot;layout&quot;: &quot;grid&quot;
  }">
        <div class="Container">
            <div class="Section__SpaceBetween">
                <div>
                    <h2 style="text-transform: capitalize" class="SectionHeader__Heading Heading u-h1 Text--subdued">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;    font-size: 45px;
                            font-family: 'Teko';;
                        ">PACKAGES OF CHOCOLATE BARS IN BAR KITS</font>
                        </font>
                    </h2>
                </div>
                <div>
                    <a href="/collections/all" class="LinkWithPlus hidden-pocket"><span class="Link Link--underline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">All products</font>
                            </font>
                        </span><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                            <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg></a><a href="/collections/pakker-med-chokolade-i-bar-kits"
                        class="LinkWithPlus hidden-pocket">
                        <span class="Link Link--underline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    All kits
                                </font>
                            </font>
                        </span><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                            <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="TabPanel" id="block-165752585019fec6fd-0" aria-hidden="false" role="tabpanel">
            <div class="ProductListWrapper">
                <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="2"
                    data-desktop-count="4" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/for-all-your-senses-14-pack-trial-kit-med-14-premium-chokoladebarer"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/sweets/1.png">
                                        <span class="Image__Loader"></span>
        
                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bundle_TastingPack_600x.png?v=1683639614"
                                                alt="For all your senses 14 pack - smagspakke | Trial kit med 14 premium chokoladebarer">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bundle_TastingPack_wBite_600x.png?v=1683639614"
                                                alt="For all your senses 14 pack - smagspakke | Trial kit med 14 premium chokoladebarer">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">14 PACK</font>
                                        </font>
                                    </span>
        
        
                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a href="/products/for-all-your-senses-14-pack-trial-kit-med-14-premium-chokoladebarer">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    For all your senses 14 pack
                                                </font>
                                            </font><span>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">flavor pack</font>
                                                </font>
                                            </span>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 199</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/grainy-sue-12-pack-havre-spelt-peanuts-karamel-og-premium-mork-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/sweets/2.png">
                                        <span class="Image__Loader"></span>
        
                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_GrainySue_Pack_600x.png?v=1684305587"
                                                alt="Grainy Sue 12-pack | Havre, spelt, peanuts, karamel og premium mørk chokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_GrainySue_Pack_wBite_600x.png?v=1684305587"
                                                alt="Grainy Sue 12-pack | Havre, spelt, peanuts, karamel og premium mørk chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">12 PACK</font>
                                        </font>
                                    </span>
        
        
                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/grainy-sue-12-pack-havre-spelt-peanuts-karamel-og-premium-mork-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Grainy Sue 12-pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 180</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/persian-perry-12-pack-persisk-lakrids-og-premium-hvid-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/sweets/3.png">
                                        <span class="Image__Loader"></span>
        
                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_PersianPerry_Pack_600x.png?v=1684305096"
                                                alt="Persian Perry 12 pack | Persisk lakrids og premium hvid chokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_PersianPerry_Pack_wBite_600x.png?v=1684305096"
                                                alt="Persian Perry 12 pack | Persisk lakrids og premium hvid chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">12 PACK</font>
                                        </font>
                                    </span>
        
        
                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a href="/products/persian-perry-12-pack-persisk-lakrids-og-premium-hvid-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Persian Perry 12 pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 180</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/dark-marci-12-pack-marcipan-og-et-dobbelt-lag-premium-mork-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/sweets/4.png">
                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_DarkMarci_Pack_600x.png?v=1683711246"
                                                alt="Dark Marci 12-pack | Marcipan og et dobbelt lag premium mørk chokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_DarkMarci_Pack_wBite_600x.png?v=1683711246"
                                                alt="Dark Marci 12-pack | Marcipan og et dobbelt lag premium mørk chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">12 PACK</font>
                                        </font>
                                    </span>
        
        
                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/dark-marci-12-pack-marcipan-og-et-dobbelt-lag-premium-mork-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase" >
                                                    Dark Marci 12-pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 180</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>