<!-- <div
    style="    padding: 20px;
    "
    >
    <div class="container ">
        <div class="SectionHeader__Heading SectionHeader--center">



            <h2 class="s Heading u-h1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;    font-size: 45px;
                    font-family: 'Teko';">
                        Do you want gluten-free?
                    </font>
                </font>
            </h2>


            <div class="Rte">
                <div class="">
                    <p></p>
                </div>
            </div>

            <div class="s">
                <div class="ButtonGroup ButtonGroup--spacingSmall ">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Shop gluten-free chocolate</font>
                    </font>
                </div>
            </div>
        </div>
    </div>

</div> -->


<!-- <div >
    <img style="width: 100% !important;" class="w100" src="assets/images/Skaermbillede.webp">
 </div> -->
<div id="shopify-section-1629791342c15f989f" class="shopify-section">
    <section id="section-1629791342c15f989f" data-section-id="1629791342c15f989f">










        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-phone" style="position: relative;">











            <div class="bg-image 
    LargeBackground  LargeBackground--bottom 
    LargeBackground--video
      bg-image--has-content"
                style="background: url(https://simplychocolate.dk/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809);">

                <div class="bg-image__wrapper Image--fadeIn Image--zoomOut  Image--contrast Image--lazyLoaded"
                    data-optimumx="1.2" data-bgset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_600x@2x.png?v=1646316809 [--small] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809 [--medium] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1200x@2x.png?v=1646316809 [--large] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809 [--desktop] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1600x@2x.png?v=1646316809 [--widescreen] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809"
                    style="background-position: center center; background-image: url(&quot;https:/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809&quot;);">
                    <video class="LargeBackground__Video" id="desktop-video-1629791342c15f989f" muted="" loop=""
                        playsinline="" data-autoplay="">
                    </video>

                    <picture style="display: none;">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_600x@2x.png?v=1646316809"
                            media="(max-width: 639px)" sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_600x@2x.png?v=1646316809">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809"
                            media="(min-width: 640px) and (max-width: 1007px)" sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1200x@2x.png?v=1646316809"
                            media="(min-width: 1008px) and (max-width: 1239px)" sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1200x@2x.png?v=1646316809">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809"
                            media="(min-width: 1240px)" sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1600x@2x.png?v=1646316809"
                            media="(min-width: 1500px)" sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1600x@2x.png?v=1646316809">
                        <source
                            data-srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809"
                            sizes="1333px"
                            srcset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809">
                        <img alt="" class="lazyautosizes Image--lazyLoaded" data-sizes="auto" data-optimumx="1.2"
                            data-parent-fit="cover" sizes="1333px">
                    </picture>
                </div>

                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x.png?v=1646316809)">
                    </div>
                </noscript>
                <div class="container " style="height: 500px;">
                    <div class="SectionHeader SectionHeader--center" style="    position: relative;
                    top: 288px;">



                        <h2 class="SectionHeader__Heading Heading u-h1">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;    vertical-align: inherit;
                                font-size: 45px;
                                font-family: 'Teko';
                            ">
                                    Do you want gluten-free?
                                </font>
                            </font>
                        </h2>


                        <div class="Rte">
                            <div class="">
                                <p></p>
                            </div>
                        </div>

                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a
                                    href="/collections/glutenfri-chokolade" class="ButtonGroup__Item Button">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Shop gluten-free chocolate</font>
                                    </font>
                                </a></div>
                        </div>
                    </div>
                </div>

            </div>









        </div>
        <div class="LargeBackground__Wrap flexbox--ie-fix hidden-tablet-and-up" style="position: relative;">











            <div class="bg-image 
    LargeBackground   LargeBackground--bottom
    LargeBackground--video
      bg-image--has-content"
                style="background: url(/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1x1.png.jpg?v=1646316809);">

                <div class="bg-image__wrapper Image--lazyLoad Image--fadeIn Image--zoomOut  Image--contrast"
                    data-optimumx="1.2" data-bgset="/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_600x@2x.png?v=1646316809 [--small] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809 [--medium] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1200x@2x.png?v=1646316809 [--large] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1400x@2x.png?v=1646316809 [--desktop] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_1600x@2x.png?v=1646316809 [--widescreen] |
           /assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x@2x.png?v=1646316809" data-sizes="auto"
                    style="background-position: center;">
                    <video class="LargeBackground__Video" id="mobile-video-1629791342c15f989f" muted="" loop=""
                        playsinline="" data-autoplay="">
                    </video>

                </div>

                <noscript>
                    <div class="bg-image__wrapper Image--contrast AspectRatio AspectRatio--false"
                        style="background-image: url(/assets/cdn/shop/files/Skaermbillede_2022-03-03_kl._15.13.13_800x.png?v=1646316809)">
                    </div>
                </noscript>
                <div class="container ">
                    <div class="SectionHeader SectionHeader--center">



                        <h2 class="SectionHeader__Heading Heading u-h1">
                            Ønsker du glutenfrit?
                        </h2>


                        <div class="Rte">
                            <div class="">
                                <p></p>
                            </div>
                        </div>

                        <div class="SectionHeader__ButtonWrapper">
                            <div class="ButtonGroup ButtonGroup--spacingSmall "><a
                                    href="/collections/glutenfri-chokolade" class="ButtonGroup__Item Button">Shop
                                    glutenfri chokolade</a></div>
                        </div>
                    </div>
                </div>

            </div>









        </div><span id="section-1629791342c15f989f-end" class="Anchor"></span>
    </section>

    <style>
        #section-1629791342c15f989f .Heading {
            color: #ffffff;
        }

        #section-1629791342c15f989f .Button {
            color: #363636;
            border-color: #ffffff;
        }

        #section-1629791342c15f989f .Button::before {
            background-color: #ffffff;
        }

        @media (-moz-touch-enabled: 0),
        (hover: hover) {
            #section-1629791342c15f989f .Button:hover {
                color: #ffffff;
            }
        }
    </style>


</div>