<!-- <p>home-dashboard works!</p> -->
<!-- <button class="btn btn-lg btn-outline-primary" data-bs-toggle="offcanvas" aria-controls="sidebar-cart"
    data-bs-target="#sidebar-cart" aria-controls="sidebar-cart" (click)="open(content)">Launch demo offcanvas</button> -->

<app-small-chocolates></app-small-chocolates>
<app-premium></app-premium>
<app-chocolatebars></app-chocolatebars>
<app-natural-proteins></app-natural-proteins>
<app-protein-packs></app-protein-packs>
<app-greenhouses></app-greenhouses>
<app-do-you-want></app-do-you-want>
<app-officialtext></app-officialtext>
<div
 class="footerhome row center center text-center">
 <button class="col-2 btn  text-center fz36" style="    margin: auto;
 padding: 10px;
 margin-bottom: 15px;background-color: rgb(101, 56, 62) !important;color:#FFFF !important">
 <b class="TekoFont" style="font-size: 30px;">GET 10% DISCOUT</b></button>

</div>