<!-- 
<img src="assets/images/Skaermbillede.jpg">
<div class="container" style="font-family: 'Libre Baskerville', serif;
font-weight: 400;
font-style: normal;
color: #1c1b1b;
background: white;
line-height: 1.65;    padding: 20px;
">
    <div class="center center socioGothic" style="    text-align: center;
    "><h2><b>SIMPLY CHOCOLATE - OFFICIEL GOURMET CHOKOLADE WEBSHOP</b></h2></div>
    <div class=" row">
        <div class="col">
            At Simply Chocolate, we create responsible and fair gourmet chocolate in exclusive quality with only the best natural ingredients. Nothing else. We have a luxurious range of gift boxes and chocolate boxes for every special occasion, holidays like Christmas and Easter or just as a sweet touch on the dullest of all dull gray Mondays.
    
    We also have a tempting selection of premium chocolate bars that you can keep all to yourself. Whether you like filled chocolates with crunch and caramel or solid chocolate with sea salt and nuts, you will surely find more than one variety in the shop that will make your mouth water. Mix your favorite chocolate bars and chocolate slabs piece by piece or embark on exciting flavor explosions with our bar kits and mixed boxes with small appetizing mini chocolates in bites , where you can sink your teeth into all our exclusive flavors with either dark chocolate, light chocolate or white chocolate . Created with honest and fair quality raw materials by Danish chocolatiers.
    
    Give your workout a kick in the ass with our selection of delicious protein bars with chocolate completely free of artificial additives. Get superpowers after training with a natural protein bar from Simply Chocolate made from pure quality ingredients that actually taste good. Here in the webshop you will also find our complete range of protein bars gathered in a hard-hitting bar kit .
        </div>
        <div class="col">
            The chocolate from Simply Chocolate Copenhagen has both attitude and attitude, and you can be sure that it is produced with respect for both people and our planet. Indulge yourself with our limited editions , where you will find the unique of our temptations in glossy paper, which are visiting our permanent assortment here and now. Our beautifully wrapped chocolates are a true mecca of color and the packaging speaks its own language, because the boxes from Simply Chocolate contain something quite extraordinary.
    
    We always carry the complete selection of our premium chocolate here in the official webshop for Simply Chocolate, so you can shop for exactly the chocolate that suits your taste. Experience our entire sweet universe right here in the chocolate shop, which is always open, and see if you can resist the temptation to shop for one of each online. You can also write a personal greeting on one of our postcards and send the chocolate to someone you love. You know very well that there is always a reason for exceptionally good chocolate.
        </div>
    </div>
</div> -->
<div id="shopify-section-1648714696f1f4f78a" class="shopify-section shopify-section--bordered">
    <section class="Section container container--medium" id="section-text-columns">
        <div class="text-columns-grid" style="    padding: 20px;
        ">
            <div class="text-columns__header-wrap Grid text-center">
                <header class="SectionHeader text-columns-header Grid__Cell one-whole">
                    <h2 class="SectionHeader__Heading Heading u-h1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;    font-size: 45px;
                            font-family: 'Teko';">Simply Chocolate - Official gourmet chocolate webshop
                            </font>
                        </font>
                    </h2>
                </header>
            </div>
            <div class="text-columns__column-wrap Grid">
                <div class="Grid__Cell text-columns__content 1/2--tablet-and-up">
                    <div class="Rte fz16">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">At Simply Chocolate, we create responsible and
                                    fair gourmet chocolate in exclusive quality with only the best natural ingredients.
                                </font>
                                <font style="vertical-align: inherit;">Nothing else. </font>
                                <font style="vertical-align: inherit;">We have a luxurious range of </font>
                            </font><a href="/collections/gaveaesker" title="Gift boxes">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">gift boxes</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> and </font>
                            </font><a href="/collections/gaveaesker" title="Gift boxes">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">chocolate boxes</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> for every special occasion, holidays like
                                    Christmas and Easter or just as a sweet touch on the dullest of all dull gray
                                    Mondays.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">We also have a tempting selection of premium
                                </font>
                            </font><a href="/collections/chokoladebarer" title="Chocolate bars">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">chocolate bars</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> that you can keep all to yourself. </font>
                                <font style="vertical-align: inherit;">Whether you like filled chocolates with crunch
                                    and caramel or solid chocolate with sea salt and nuts, you will surely find more
                                    than one variety in the shop that will make your mouth water. </font>
                                <font style="vertical-align: inherit;">Mix your favorite chocolate bars and chocolate
                                    slabs piece by piece or embark on exciting flavor explosions with our </font>
                            </font><a href="/collections/bar-kits" title="Bare kits">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">bar kits</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> and mixed boxes with small appetizing mini
                                    chocolates in </font>
                            </font><a href="/collections/bites" title="Bites">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">bites</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> , where you can sink your teeth into all our
                                    exclusive flavors with either dark chocolate, light chocolate or white chocolate .
                                </font>
                                <font style="vertical-align: inherit;">Created with honest and fair quality raw
                                    materials by Danish chocolatiers.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Give your workout a kick in the ass with our
                                    selection of delicious </font>
                            </font><a href="/collections/proteinbarer-med-chokolade"
                                title="Protein bars with chocolate">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">protein bars with chocolate</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> completely free of artificial additives. </font>
                                <font style="vertical-align: inherit;">Get superpowers after training with a natural
                                </font>
                            </font><a href="/collections/proteinbarer-med-chokolade"
                                title="Protein bars with chocolate">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">protein bar</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> from Simply Chocolate made from pure quality
                                    ingredients that actually taste good. </font>
                                <font style="vertical-align: inherit;">Here in the webshop you will also find our
                                    complete range of protein bars gathered in a hard-hitting </font>
                            </font><a href="/collections/bar-kits" title="Bare kits">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">bar kit</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
                </div>
                <div class="Grid__Cell text-columns__content 1/2--tablet-and-up">
                    <div class="Rte fz16">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">The chocolate from Simply Chocolate Copenhagen
                                    has both attitude and attitude, and you can be sure that it is produced with respect
                                    for both people and our planet. </font>
                                <font style="vertical-align: inherit;">Indulge yourself with our </font>
                            </font><a href="/collections/limited-editions" title="Limited Editions">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">limited editions</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> , where you will find the unique of our
                                    temptations in glossy paper, which are visiting our permanent assortment here and
                                    now. </font>
                                <font style="vertical-align: inherit;">Our beautifully wrapped chocolates are a true
                                    mecca of color and the packaging speaks its own language, because </font>
                            </font><a href="/collections/gaveaesker" title="Gift boxes">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">the boxes</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> from Simply Chocolate contain something quite
                                    extraordinary.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">We always carry the complete selection of our
                                    premium chocolate here in the official webshop for Simply Chocolate, so you can shop
                                    for exactly the chocolate that suits your taste. </font>
                                <font style="vertical-align: inherit;">Experience our entire sweet universe right here
                                    in the chocolate shop, which is always open, and see if you can resist the
                                    temptation to shop for one of each online. </font>
                                <font style="vertical-align: inherit;">You can also write a personal greeting on one of
                                    our postcards and send the chocolate to someone you love. </font>
                                <font style="vertical-align: inherit;">You know very well that there is always a reason
                                    for exceptionally good chocolate.</font>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>