<!-- <div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-lg-7 col-sm-12" style="vertical-align: inherit;    margin-bottom: 15px;
        ">
            <h2 class="socioGothic"><b>PROTEIN PACKS
            </b></h2>
        </div>
        <div class="col-lg-5 col-sm-12">
            <div class="row LibreBaskerville">
                <div class="col">
                    <div class="row">
                        <div class="col-9">all the products</div>
                        <div class="col-3">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p5" *ngFor="let one_question of [1,2,3]; let question_index = index;">
            <div class="col-sm-12 col-3 one_small_choco_div">
                <div class="row">
                    <div class="col-9">75 PCS</div>
                    <div class="col-2 round_div">
                        <div  style="width:35px;border-radius: 50px;height: 35px;">
                            <span class="material-icons">lock</span></div>
                    </div>
                </div>
                <div>
                    <img src="assets/images/protein_packs.png">
                </div>
            </div>
            <div class="one_small_choco_div_desc linespace_small alCenter" >
                <div class="Century_Gothic fW800">Minty Moment</div>
                <div class="fW800 fz12">DKK 360
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="shopify-section-16532930116ef0f81e" class="shopify-section shopify-section--bordered">
    <section class="Section Section--spacingNormal" data-section-id="16532930116ef0f81e"
        data-section-type="featured-collections" data-settings="{
    &quot;layout&quot;: &quot;grid&quot;
  }">
        <div class="Container">
            <div class="Section__SpaceBetween">
                <div>
                    <h2 class="SectionHeader__Heading Heading u-h1 Text--subdued">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;    font-size: 45px;
                            font-family: 'Teko';">PROTEIN PACKS</font>
                        </font>
                    </h2>
                </div>
                <div>
                    <a href="/collections/all" class="LinkWithPlus hidden-pocket"><span class="Link Link--underline">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">All products</font>
                            </font>
                        </span><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
                            <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                <path d="M8,1 L8,15"></path>
                                <path d="M1,8 L15,8"></path>
                            </g>
                        </svg></a>
                </div>
            </div>
        </div>
        <div class="TabPanel" id="block-16532930116ef0f81e-0" aria-hidden="false" role="tabpanel">
            <div class="ProductListWrapper">
                <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="2"
                    data-desktop-count="4"
                    style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/all-in-mix-protein-pack-mix-21-proteinbarer-med-premium-chokolade-drikkedunk"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/products/4.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_RichArnold_wBite_a1387634-7459-498e-b2ba-670ab2f16142_600x.png?v=1683711185"
                                                alt="ALL IN MIX protein pack | Mix 21 proteinbarer med premium chokolade + drikkedunk">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bundle_ProteinAllinMix_wDunk_600x.png?v=1683711185"
                                                alt="ALL IN MIX protein pack | Mix 21 proteinbarer med premium chokolade + drikkedunk">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">21 PACK</font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/all-in-mix-protein-pack-mix-21-proteinbarer-med-premium-chokolade-drikkedunk">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase" class="TekoFont fz20 uppCase">
                                                    ALL IN MIX protein pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 360</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/rich-arnold-12-pack-proteinbar-med-karamel-peanuts-og-premium-mork-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/products/3.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_RichArnold_Pack_600x.png?v=1683711308"
                                                alt="Rich Arnold 12 Pack | Proteinbar med karamel, peanuts og premium mørk chokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_RichArnold_Pack_wBite_600x.png?v=1683711308"
                                                alt="Rich Arnold 12 Pack | Proteinbar med karamel, peanuts og premium mørk chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">12 PACK</font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/rich-arnold-12-pack-proteinbar-med-karamel-peanuts-og-premium-mork-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Rich Arnold 12 Pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 199</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/speedy-tom-12-pack-proteinbar-med-acai-kakao-passionsfrugt-og-premium-mork-chokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/products/3.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_SpeedyTom_Pack_600x.png?v=1683711352"
                                                alt="Speedy Tom 12 Pack | Proteinbar med acai, kakao, passionsfrugt og premium mørk chokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_SpeedyTom_Pack_wBite_600x.png?v=1683711352"
                                                alt="Speedy Tom 12 Pack | Proteinbar med acai, kakao, passionsfrugt og premium mørk chokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">12 PACK</font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/speedy-tom-12-pack-proteinbar-med-acai-kakao-passionsfrugt-og-premium-mork-chokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Speedy Tom 12 Pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 199</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up">
                        <div class="ProductItem ">
                            <div class="ProductItem__Wrapper"><a
                                    href="/products/sixpack-sally-12-pack-proteinbar-med-karamel-yuzu-sesam-og-premium-maelkechokolade"
                                    class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage"
                                    aria-label="go to product">
                                    <div class="AspectRatio AspectRatio--withFallback"
                                        style="max-width: 1000px; padding-bottom: 100.0%; --aspect-ratio: 1.0">
                                        <img src="assets/images/products/1.png">
                                        <span class="Image__Loader"></span>

                                        <noscript>
                                            <img class="ProductItem__Image ProductItem__Image--alternate"
                                                src="assets/cdn/shop/files/Bar_SixpackSally_Pack_600x.png?v=1683711332"
                                                alt="Sixpack Sally 12 Pack | Proteinbar med karamel, yuzu, sesam og premium mælkechokolade">
                                            <img class="ProductItem__Image"
                                                src="assets/cdn/shop/files/Bar_SixpackSally_Pack_wBite_600x.png?v=1683711332"
                                                alt="Sixpack Sally 12 Pack | Proteinbar med karamel, yuzu, sesam og premium mælkechokolade">
                                        </noscript>
                                    </div>
                                </a>
                                <div class="ProductItem__LabelList">
                                    <span class="ProductItem__Label ProductItem__CustomLabel Heading Text--subdued">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">12 PACK</font>
                                        </font>
                                    </span>


                                </div>
                                <div class="ProductItem__Quickbuy"
                                    >
                                    <svg class="Icon Icon--cart whiteColor" role="presentation" viewBox="0 0 17 20">
                                        <path
                                            d="M0 20V4.995l1 .006v.015l4-.002V4c0-2.484 1.274-4 3.5-4C10.518 0 12 1.48 12 4v1.012l5-.003v.985H1V19h15V6.005h1V20H0zM11 4.49C11 2.267 10.507 1 8.5 1 6.5 1 6 2.27 6 4.49V5l5-.002V4.49z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <div class="ProductItem__Info ProductItem__Info--center">
                                    <h2 class="ProductItem__Title Heading">
                                        <a
                                            href="/products/sixpack-sally-12-pack-proteinbar-med-karamel-yuzu-sesam-og-premium-maelkechokolade">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz20 uppCase">
                                                    Six Pack Sally 12 Pack
                                                </font>
                                            </font>
                                        </a>
                                    </h2>
                                    <div class="ProductItem__PriceList  Heading"><span
                                            class="ProductItem__Price Price Text--subdued">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;" class="TekoFont fz16 uppCase">DKK 199</font>
                                            </font>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>